[Unit]
Description=Hello World Service
After=network.target

[Service]
ExecStart=/usr/bin/hello-world
Type=simple


[Install]
WantedBy=multi-user.target